.App {
  text-align: center;
}
body {
  background-color: rgb(230, 230, 230);
}
.home {
  width: 100vh;
  height: 70vh;
  margin-left: 350px;
}
.home > img {
  opacity: 0.7;
  z-index: -1;
  height: 60vh;
}
.home > img:hover {
  opacity: 1;
}
.homeText {
  font-family: "Trocchi", serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.homeText > p {
  font-size: larger;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: rgb(230, 230, 230);
  border-bottom: 0.05px solid rgb(192, 192, 192);
  color: black;
  font-family: "Trocchi", serif;
  font-size: larger;
}
.wrapper {
  margin-left: 70px;
}

.headerDiv {
  color: white;
  text-decoration: none;
  color: black;
  font-family: "Trocchi", serif;
}
.active {
  color: rgb(0, 0, 0);
  text-decoration: underline;
}
.wrapper2 {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 55px;
  margin-right: 70px;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: rgb(230, 230, 230);
  height: 90vh;
}
.leftSide {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(230, 230, 230);
  width: 75vh;
  gap: 25x;
  margin-bottom: 0px;
  font-family: "Trocchi", serif;
}

.rightSide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  width: 75vh;
  background-color: rgb(230, 230, 230);
  gap: 25px;
  font-family: "Trocchi", serif;
}
.firstLine {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
.firstLine > input {
  height: 30px;
  width: 235px;
  border: none;
}
.subject {
  width: 500px;
  height: 30px;
  border: none;
}
.message {
  width: 500px;
  height: 150px;
  border: none;
}
.rightSide > button {
  background-color: white;
  border-radius: 20px;
  width: 150px;
  height: 40px;
  font-family: "Trocchi", serif;
  font-size: large;
  border: none;
  cursor: pointer;
}
.rightSide > button:hover {
  -webkit-box-shadow: 1px -3px 14px -5px rgba(34, 60, 80, 0.6) inset;
  -moz-box-shadow: 1px -3px 14px -5px rgba(34, 60, 80, 0.6) inset;
  box-shadow: 1px -3px 14px -5px rgba(34, 60, 80, 0.6) inset;
}
.icons > img {
  height: 40px;
  width: 40px;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  cursor: pointer;
}
.icons:hover {
}

.wrapPhoto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 35px;
  margin-left: -100px;
}
.wrapPhoto > img {
  height: 260px;
  width: 260px;
  border-radius: 130px;
}
.wrapText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Aboutcontact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: rgb(230, 230, 230);
  height: 90vh;
}
.AboutrightSide {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  width: 75vh;
  background-color: rgb(230, 230, 230);
  font-family: "Trocchi", serif;
 
}
.AboutLeftside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  width: 75vh;
  
  background-color: rgb(230, 230, 230);
  font-family: "Trocchi", serif;
}

.AboutLeftside > div {
  margin-top: -100px;
  flex-wrap: wrap;
  margin-right: 25px;
  
}
.aboutSkills {
  margin-left: -160px;
  margin-bottom: 100px;
}
.bla {
  height: 200px;
  width: 300px;
}
.skillimg {
  width: 70px;
  height: 70px;
  margin: 20px;
}
.portfolio {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px;
  gap: 25px;
}
