.App {
  text-align: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: blueviolet;
  color: white;
}
.wrapper {
  margin-left: 70px;
}
.headerDiv {
  color: white;
  text-decoration: none;
}
.active {
  color: white;
  text-decoration: underline;
}
.wrapper2 {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 55px;
  margin-right: 70px;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: rgb(230, 230, 230);
  height: 90vh;
}
.leftSide {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 75vh;
  gap: 25x;
  margin-bottom: 0px;
  font-family: "Trocchi", serif;
}

.rightSide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  width: 75vh;
  background-color: white;
  gap: 25px;
  font-family: "Trocchi", serif;
}
.firstLine {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
.firstLine > input {
  height: 30px;
  width: 235px;
}
.subject {
  width: 500px;
  height: 30px;
}
.message {
  width: 500px;
  height: 150px;
}
.rightSide > button {
  background-color: rgb(230, 230, 230);
  border-radius: 20px;
  width: 150px;
  height: 40px;
  font-family: "Trocchi", serif;
  font-size: large;
}
.icons > img {
  height: 40px;
  width: 40px;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
}

.wrapPhoto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
}
.wrapPhoto > img {
  height: 150px;
  width: 150px;
}
.wrapText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.Aboutcontact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: rgb(230, 230, 230);
  height: 90vh;
}
.AboutrightSide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  width: 75vh;
  background-color: white;
  font-family: "Trocchi", serif;
}
.AboutLeftside{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  width: 75vh;
  background-color: white;
  font-family: "Trocchi", serif;
}
